@model IEnumerable<ProjectDatabaseLib.BlogSpace1>
@{
    ViewBag.Title = "BlogLog";
    Layout = "~/Views/Shared/_UserBlogLayout.cshtml";
}
<style>
    a {
        color: blue;
    }
</style>
<div class="container">

    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h2 style="font-family:'Times New Roman', Times, serif; color:darkred;text-align:center">Blog Hub</h2>
        <br />
        

        <table class="table">


            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <b style="color:firebrick; font-size:large;">@Html.DisplayFor(modelItem => item.Title)</b>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </td>
                </tr>
                <tr>
                    <td><a href="~/Blog/@item.URL">Read Complete Article..</a></td>
                </tr>
                <tr>
                    <td>
                        Category  <a href="~/Blog/@item.Category">@Html.DisplayFor(modelItem => item.Category)</a>
                    </td>


                </tr>
            }

        </table>
    </div>

</div>