@model IEnumerable<ProjectDatabaseLib.BlogSpace1>

@{
    ViewBag.Title = "Destination";
}

<h2>Destination Articles</h2>


<table class="table" style="background-color:antiquewhite;">


    @foreach (var item in Model)
    {
        <tr>

            <td>
                <b style="color:firebrick; font-size:large;">@Html.DisplayFor(modelItem => item.Title)</b>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
            </td>
        </tr>
        <tr>
            <td><a href="~/Blog/@item.URL">Read Complete Article</a></td>
        </tr>
        <tr>
            <td>
                <a href="~/Blog/@item.Category">@Html.DisplayFor(modelItem => item.Category)</a>
            </td>


        </tr>
    }

</table>
