
@{
    ViewBag.Title = "food";
}
<style>
    body {
        background: antiquewhite;
    }
</style>
<h2 style="color:blueviolet">Cuisine in Shimla</h2>

<p>
In Shimla, most food dishes are the typical North India cuisines which can be modified a little to meet the cold weather conditions of the place. 
 The main staple foods of the locals are the rice, bread, lentils and vegetables. 
</p>
<p>Spices are used significantly such as cardamom, cinnamon, cloves, pepper and red chilies. You can find a combination of both vegetarian and non-vegetarian dishes in Shimla. 
Popular vegetarian dishes to taste here are guchhi matter, kaddu ka khatta and sepu vadi. Non-vegetarian food lovers can enjoy chicken anaardana, grilled fish and kullu trout.
</p>

