
@{
    ViewBag.Title = "shimla_destination";
}
<style>
    body {
        background: antiquewhite;
    }
</style>

<h2>My Favorite Destination</h2>
<p>
    Shimla was my favorite summer holiday destination in India. It is the capital of the state of Himachal
    Pradesh. I visited it along with my friends in the summer. Before arrival at the beautiful Shimla, I reserved
    the hotel through a tour operator company. Thanks to this tour operator for arranging such a luxurious
    hotel at a reasonable price. It was a wonderful summer journey with friends.
    </p>
<p>
    What we visited in Shimla:
    There were many dazzling and wonderful attractive spots to watch like Jakhu Hill, Lord Hanuman temple, and local handicraft museum. Jakhu Hill is a mind-blowing hill station and according to the tour operator,
    the hill station is the safest trekking place in India. The next morning we had gone on a trekking trip, really the
    trip was unforgettable. Apart from trekking, we had also enjoyed shopping.
    </p>
<p>
    The next day we had visited Tara Devi, according to local belief the Shimla tour remains incomplete if a
    tourist never visits Goddess Tara Devi temple. The temple distance was only 11km from our hotel. The
    temple had many traditional memories, at the first visit to the temple itself we got a very spiritual
    feeling.</p>

