@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_AboutusLayout1.cshtml";


}
<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">About Us</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- /about-6-->
<section class="w3l-cta4 py-5">
    <div class="container py-lg-5">
        <div class="ab-section text-center">
            <h6 class="sub-title">About Us</h6>
            <h3 class="hny-title">Travel to make memories all around the world.</h3>
            <p class="py-3 mb-3">
                Course - PG-DAC
            </p>
            <p class="py-3 mb-3">

                <table style="width:100%">

                    <tr>
                        <td>Aishwarya Chimmalagi	</td>
                        <td>200251920008</td>
                    </tr>
                    <tr>
                        <td> Kushal Minachi</td>
                        <td>200251920046</td>
                    </tr>
                    <tr>
                        <td> Shashank Shekhar Pandey</td>
                        <td>200251920093</td>
                    </tr>
                    <tr>
                        <td>  Vatsala Tamrakar</td>
                        <td>	200251920112</td>
                    </tr>
                </table>
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-9 mx-auto">
                <img src="assets/images/banner3.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
